@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #2d2013;
  --foreground: #d57d1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2013;
    --foreground: #d57d1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
