@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  /* ... */
}

:root {
  --background: #2d2013;
  --foreground: #d57d1f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d2013;
    --foreground: #d57d1f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
